body {
	padding-left: 0;
	background-color: #121314; 
}
a:hover{
    cursor:pointer;
}

.container {
	padding-left: 10%;
}

.jumbotron {
	background-color: #333334; 
	color: #88898c;
}

.btn {
	background-color: #699700; 
	border-color: #699700;
	color: #dfe0e6;
}

.btn:hover {
	background-color: #84bd00; 
	border-color: #84bd00;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 1%;
    width: 12.5%;
    background-color: #1c1c1f;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #88898c;
    padding: 8px 16px;
    text-decoration: none;
    padding-top: 8.5%; 
    padding-bottom: 8.5%; 
    font-size: 13pt; 
}

li a.active {
    color: #dfe0e6;
    text-decoration: none;

}

li a:hover:not(.active) {
    background-color: #555; /*TODO: Decide whether or not to have a background color;*/
    color: #dfe0e6;
    text-decoration: none;

}
#ishan{
	position: absolute;
	left: 230px;
	width: 30%;
}
#murad{
	position: absolute;
	bottom: -0.5%;
	left: 640px;
	width: 107%;
}